:host {
  --content-padding: 10px;
}
header {
  display: block;
  height: 60px;
  padding: var(--content-padding);
  box-shadow: 0px 5px 25px var(--shadow-color);
}
.content {
  padding: var(--content-padding);
}
.brand-name {
  background-color: #333; /* Dark background for the header */
  padding: 15px 20px; /* Vertical and horizontal padding */
  align-items: center; /* Vertically align items in the center */
  justify-content: space-between; /* Space out items (logo and navigation) */
  color: #fff; /* Text color for header content */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Subtle shadow for depth */
}
.brand-logo {
  height: 250px;
  width: 100%;
  object-fit: cover;
  border-radius: 30px 30px 0 0;
}